<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />

	<title>Grow Right Farms</title>

	<meta name="Description" content="Nebraskan family farm" />
	<meta name="" content="Nebraska, family, farm" />

	<link href="GrowRight.css" rel="stylesheet" type="text/css" />

	<script 
		src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js">
	</script>

<link  href="http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.css" rel="stylesheet"> 
<script src="http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.js"></script>

<!--[if lt IE 9]>
<script src="http://html5shim.googlecode.com/svn/trunk/html5.js">
</script>
<![endif]-->
</head>
<div id="wrapper">
<header>
	<img src="assets/GR_header.jpg" alt="Grow Right Farms" >
</header>

<main>
<nav>
	<ul>
		<li><a href="index.html">Home</a>&nbsp </li>
		<li><a href="landplan.html">Land Plan</a>&nbsp </li>
		<li><a href="forestryplan.html">Forestry Plan</a>&nbsp </li>
		<li><a href="grazingpasture.html">Grazing Pasture</a> </li><br>
		<li><a href="equipInv.html">Equipment Inventory</a>&nbsp </li>
		<li><a href="agriproducts.html">Ag Products</a>&nbsp </li>
		<li><a href="aboutUs.html">About Us</a>&nbsp </li>
		
	</ul>
</nav>
<div id="div2">
	<h2>GrowRight Farms, About Us...</h2>

	
		<div class="fotorama" data-autoplay="true">	

			<img src="assets/PaulaAndZoey.jpg" alt="Front Street" data-caption="Paula and Zoey" width="250" height="150" >
			<img src="assets/GrandpaAndGrandkidsgoofingaround.jpg" alt="Having fun with the grandkids!" data-caption="Goofing around with the grandkids"  width="250" height="150">
			<img src="assets/Mom&John.jpg" alt="Mom and John" data-caption="Mom and John"  width="250" height="150">
			<img src="assets/three_brothers.jpg" alt="Buhrmann Brothers" data-caption="Three Buhrmann Brothers"  width="250" height="150">
			<img src="assets/tractorNancyAndThelma.jpg" alt="tractor Nancy and Thelma" data-caption="Nancy and Thelma on th D-17"  width="250" height="150">
			<img src="assets/OldHouseLandscaping.jpg" alt="Old House Landscaping" data-caption="Old House Landscaping"  width="250" height="150">

			
		</div>
		
		<aside>
			<p>Grow Right Farms Founder</p>
			<img src="assets/Buhrmann.jpg" alt="map of GrowRight Farms">
			<p>Johan Dietrich Buhrmann</p>
			
		</aside>
		
	 
	

      <p>Grow Right Farms is an environmentally friendly, local, family run operation that thinks consumers and producers need to close the gap between those who eat agricultural products, and those that raise them.</p>
      <h3>Grow Right Farms history</h3>
      <p>Grow Rigth Farms has a long and storied history connected to the Nebraska community. In January of 1867, right after the enactment of the Homestead Act, Johan Dietrich Buhrmann and his two sons Christian and 
	  Wilhelm braved the Nebraska winter and staked a claim in what is now known as Lancaster County. Over time, the number of Buhrmann's who had farms grew to five, and it was known that farming was in their blood. In the early
	  years it wasn't outrageous to see buffalo, deer, pheasants, quail and the occasional indian.</p>
	  
      	  
	  
      <h3>Grow Right Farms Philosophy</h3>
      <p>Our philosophy of farming at Grow Right Farms is quite simple, to produce the highest quality agricultural products possible, while treating the land, wildlife, and community with respect. 
	  Grow Right Farms minimizes the use of commerical pesticides and herbicides, emphasizes mechanical control of weeds, and attempts to use natural fertilzers when ever possible. Grow Right Farms healthy respect for the land, 
	  wildlife, and our communities helps us identify with our consumers to bring them the very best in agricultural products. 
	  </p>
      <p></p>
    
      
	  
</div>
</main>	  
	  <footer>
	
		<br>
			<ul>
				<li><a href="index.html">Home</a>&nbsp </li>
				<li><a href="landplan.html">Land Plan</a>&nbsp </li>
				<li><a href="forestryplan.html">Forestry Plan</a>&nbsp </li>
				<li><a href="grazingpasture.html">Grazing Pasture</a> </li><br>
				<li><a href="equipInv.html">Equipment Inventory</a>&nbsp </li>
				<li><a href="agriproducts.html">Ag Products</a>&nbsp </li>
				<li><a href="aboutUs.html">About Us</a>&nbsp </li>		
			</ul>
	
	  </footer>

</div>
</html>
