<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />

<title>Grow Right Farms</title>

<meta name="Description" content="Nebraskan family farm" />
<meta name="" content="Nebraska, family, farm" />

<link href="GrowRight.css" rel="stylesheet" type="text/css" />

<!--[if lt IE 9]>
<script src="http://html5shim.googlecode.com/svn/trunk/html5.js">
</script>
<![endif]-->
</head>
<div id="wrapper">
<header>

	<img src="assets/GR_header.jpg" alt="Grow Right Farms" >	

</header>

<main>
<nav>

<ul>
		<li><a href="index.html">Home</a>&nbsp </li>
		<li><a href="landplan.html">Land Plan</a>&nbsp </li>
		<li><a href="forestryplan.html">Forestry Plan</a>&nbsp </li>
		<li><a href="grazingpasture.html">Grazing Pasture</a> </li><br>
		<li><a href="equipInv.html">Equipment Inventory</a>&nbsp </li>
		<li><a href="agriproducts.html">Ag Products</a>&nbsp </li>
		<li><a href="aboutUs.html">About Us</a>&nbsp </li>
		
</ul>
</nav>
<div id="div2">
<h2>GrowRight Farms Ag Products</h2>

	

      <p>Over the course of the growing season, Grow Right Farms sells various agricultural products directly to consumers. Our pledge to offer only the highest quality produce, hay, and 
	  row crop commodities will serve you well!</p>
	  <h3>Please fill out the form below to be notified when Grow Right Farms has agricultural products to sell.</h3>
      <form method="get">
	  *First Name:<input type="text" name="fname" id="fname" required="required"><br><br>
	  *Last Name:<input type="text" name="lname" id="lname" required="required"><br><br>
	  
	  *E-mail:<input type="email" name="email" id="email" required="required"><br><br>
	  Comments: <br>
	  <textarea name="comments" id="comments" cols="40" rows="2">Enter your comments here</textarea><br><br>
	  <input type="submit" value="Sign me up!"> 
	  <input type="reset">
	  </form>
    
      
	  
</div>
</main>	  
	  <footer>
	
		<br>
	<ul>
		<li><a href="index.html">Home</a>&nbsp </li>
		<li><a href="landplan.html">Land Plan</a>&nbsp </li>
		<li><a href="forestryplan.html">Forestry Plan</a>&nbsp </li>
		<li><a href="grazingpasture.html">Grazing Pasture</a> </li><br>
		<li><a href="equipInv.html">Equipment Inventory</a>&nbsp </li>
		<li><a href="agriproducts.html">Ag Products</a>&nbsp </li>
		<li><a href="aboutUs.html">About Us</a>&nbsp </li>
		
	</ul>
	
	
	  </footer>

</div>
</html>
