<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />

<title>Grow Right Farms</title>

<meta name="Description" content="Nebraskan family farm" />
<meta name="" content="Nebraska, family, farm" />

<link href="GrowRight.css" rel="stylesheet" type="text/css" />

<!--[if lt IE 9]>
<script src="http://html5shim.googlecode.com/svn/trunk/html5.js">
</script>
<![endif]-->
</head>
<div id="wrapper">
<header>

	<img src="assets/GR_header.jpg" alt="Grow Right Farms pasture" >	

</header>

<main>
<nav>

<ul>
		<li><a href="index.html">Home</a>&nbsp </li>
		<li><a href="landplan.html">Land Plan</a>&nbsp </li>
		<li><a href="forestryplan.html">Forestry Plan</a>&nbsp </li>
		<li><a href="grazingpasture.html">Grazing Pasture</a> </li><br>
		<li><a href="equipInv.html">Equipment Inventory</a>&nbsp </li>
		<li><a href="agriproducts.html">Ag Products</a>&nbsp </li>
		<li><a href="aboutUs.html">About Us</a>&nbsp </li>
		
</ul>
</nav>
<div id="div2">
<h2>GrowRight Farms Equipment Inventory</h2>

	<aside>
			<p>GrowRight Farms hand tool (scythe)</p>
			<img src="assets/scythe.jpg" alt="map of GrowRight Farms">
			
	</aside>

      <p>Grow Right Farms has a wide assortment of equipment, and this equipment harks back to the old days of farming when soil health was paramount. </p>
      <h3>Tractor and implements</h3>
      <p>Grow Right Farms has a wide assortment of land tillage equipment, and this equipment is designed for mechanical planting, harvesting, and weed cultivating. Our main power implements are two Allis Chalmers D-17's 
	  to do the heavy lifting around the farm. To put organic material back into the soil, we have a three bottom plow and disc. We also have to different harrows (deep harrow and surface harrow) to level the soil for planting. 
	  And what farm would be complete without a planter? We actually have two types of planters, a standard planter and a drill. The standard planter handles the chore of planting larger seed varieties like corn and beans. 
	  The drill handles the smaller seed varieties like wheat and milo.</p>
	  
      <p>Grow Right farms also has equipment for harvesting hay. Currently we have a rake, mower, and large round baler. This equipment gives us the opportunity to crop hay and sell on the open market, or keep it for ourselves
	  should be begin to stock cattle again. </p>
	  
	  
	  
          
      
	  
</div>
</main>	  
	  <footer>
	
		<br>
	<ul>
		<li><a href="index.html">Home</a>&nbsp </li>
		<li><a href="landplan.html">Land Plan</a>&nbsp </li>
		<li><a href="forestryplan.html">Forestry Plan</a>&nbsp </li>
		<li><a href="grazingpasture.html">Grazing Pasture</a> </li><br>
		<li><a href="equipInv.html">Equipment Inventory</a>&nbsp </li>
		<li><a href="agriproducts.html">Ag Products</a>&nbsp </li>
		<li><a href="aboutUs.html">About Us</a>&nbsp </li>
		
	</ul>
	
	
	  </footer>

</div>
</html>
