<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />

<title>Grow Right Farms</title>

<meta name="Description" content="Nebraskan family farm" />
<meta name="" content="Nebraska, family, farm" />

<link href="GrowRight.css" rel="stylesheet" type="text/css" />

<!--[if lt IE 9]>
<script src="http://html5shim.googlecode.com/svn/trunk/html5.js">
</script>
<![endif]-->
</head>
<div id="wrapper">
<header>

	<img src="assets/GR_header.jpg" alt="Grow Right Farms" >	

</header>

<main>
<nav>

<ul>
		<li><a href="index.html">Home</a>&nbsp </li>
		<li><a href="landplan.html">Land Plan</a>&nbsp </li>
		<li><a href="forestryplan.html">Forestry Plan</a>&nbsp </li>
		<li><a href="grazingpasture.html">Grazing Pasture</a> </li><br>
		<li><a href="equipInv.html">Equipment Inventory</a>&nbsp </li>
		<li><a href="agriproducts.html">Ag Products</a>&nbsp </li>
		<li><a href="aboutUs.html">About Us</a>&nbsp </li>
		
</ul>
</nav>
<div id="div2">
<h2>GrowRight Farms Forestry Plan</h2>

	<aside>
			<p>GrowRight Farms Soil Map</p>
			<img src="assets/GR_land.jpg" alt="map of GrowRight Farms">
	</aside>

      <p>Grow Right farms is invested in developing unique profit streams for a small farms, and one of these ways is to increase timber quality in the forested areas. The forested areas consist of a diverse commercially viable
		timber with Nebraska Burr Oak, Black Walnut, and Ash being the predominant species. </p>
      <h3>Beneficial Thinning</h3>
      <p>Grow Right Farms has worked with the Nebraska Forestry Service to develop a plan to enhance the commercial timber quality of the forest. The plan outlined how to manage this resource, and in particular how thinning the 
	  trees would greatly increase the profits produced from these trees. By thinning the trees, the trees would grow at a much faster rate, as well as providing a valuable protein source (nuts) for wildlife.</p>
	  
      	  
	  
      <h3>Diversify the variety and age of trees</h3>
      <p>The forestry plan provided by the Nebraska Forestry Service also outlined the benefits of not only different species of trees, but different ages as well. Different species (in particulare Chestnut, Dogwood, 
	  and some fruit trees) would add health to the forest. A wide diversity of trees helps to ensure one catastrophic event (fire, flood, polar vortex) would not wipe out a high percentage of the tree population. The fruit trees would provided
	  additional food sources for the wildlife, and also provide fresh fruit for the farm. In addition, cut down a certain portion of the mature trees (beneficial thinning) so that younger trees and seed producing grass may grow.
	  By letting younger plant life grow, new trees are in line to replace the older ones. By having a constant stream of new trees becoming large enough to harvest, you continually refresh the forest, and have some money coming 
	  in from timber sales.</p>
      
      
	  
</div>
</main>	  
	  <footer>
	
		<br>
	<ul>
		<li><a href="index.html">Home</a>&nbsp </li>
		<li><a href="landplan.html">Land Plan</a>&nbsp </li>
		<li><a href="forestryplan.html">Forestry Plan</a>&nbsp </li>
		<li><a href="grazingpasture.html">Grazing Pasture</a> </li><br>
		<li><a href="equipInv.html">Equipment Inventory</a>&nbsp </li>
		<li><a href="agriproducts.html">Ag Products</a>&nbsp </li>
		<li><a href="aboutUs.html">About Us</a>&nbsp </li>
		
	</ul>
	
	
	  </footer>

</div>
</html>
