<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />

<title>Grow Right Farms</title>

<meta name="Description" content="Nebraskan family farm" />
<meta name="" content="Nebraska, family, farm" />

<link href="GrowRight.css" rel="stylesheet" type="text/css" />

<!--[if lt IE 9]>
<script src="http://html5shim.googlecode.com/svn/trunk/html5.js">
</script>
<![endif]-->
</head>
<div id="wrapper">
<header>

	<img src="assets/GR_header.jpg" alt="Grow Right Farms pasture" >	

</header>

<main>
<nav>

<ul>
		<li><a href="index.html">Home</a>&nbsp </li>
		<li><a href="landplan.html">Land Plan</a>&nbsp </li>
		<li><a href="forestryplan.html">Forestry Plan</a>&nbsp </li>
		<li><a href="grazingpasture.html">Grazing Pasture</a> </li><br>
		<li><a href="equipInv.html">Equipment Inventory</a>&nbsp </li>
		<li><a href="agriproducts.html">Ag Products</a>&nbsp </li>
		<li><a href="aboutUs.html">About Us</a>&nbsp </li>
		
</ul>
</nav>
<div id="div2">
<h2>GrowRight Farms Grazing Pasture</h2>

	<aside>
			<p>GrowRight Farms pasture</p>
			<img src="assets/GR_pasture3.jpg" alt="map of GrowRight Farms">
			
	</aside>

      <p>Grow Right farms has over 60 acres of grazing pasture for rent, and this is a significant portion of the Grow Right farms income. Prices for row crop commodities has dropped dramatically in the last few years, so 
	  we had to look at other sources of revenue. Grazing pasture is a unique and profitable way to take advantage of ground that wouldn't otherwise be utilized as tillable. By opening up the acres of pasture for rent, Grow Right 
	  farms has created an opportunity to increase the revenue streams, and help keep noxious weeds down</p>
      <h3>Cool Season Grasses</h3>
      <p>Cool season grasses typically start to grow in March, and quickly assert themselves as a viable forage early in the grazing year. The pasture renting season starts April 1rst, so cool season grasses are well established
	  and ready to provide food for cattle or horses. Cool season grasses go dormant in the hotter summer months (usually between June and the middle of September) but will start to rejuvenate in the fall. This means that this important
	  grass mix will give two seasons of forage for the prospective renter.</p>
	  
      	  
      <h3>Warm Season Grasses</h3>
      <p>Warm season grasses are the best forage for putting weight on cattle, and are the best grazing pastures for this reason. The warm season grasses contain varieties that are high in protein, and this is paramount
	  for putting weight on livestock. Legumes, Big Bluestem, Little Bluestem, and Orchard grass make up the predominant species in our pastures.</p>
      <p></p>
    
      
	  
</div>
</main>	  
	  <footer>
	
		<br>
	<ul>
		<li><a href="index.html">Home</a>&nbsp </li>
		<li><a href="landplan.html">Land Plan</a>&nbsp </li>
		<li><a href="forestryplan.html">Forestry Plan</a>&nbsp </li>
		<li><a href="grazingpasture.html">Grazing Pasture</a> </li><br>
		<li><a href="equipInv.html">Equipment Inventory</a>&nbsp </li>
		<li><a href="agriproducts.html">Ag Products</a>&nbsp </li>
		<li><a href="aboutUs.html">About Us</a>&nbsp </li>
		
	</ul>
	
	
	  </footer>

</div>
</html>
