<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />

<title>Grow Right Farms</title>

<meta name="Description" content="Nebraskan family farm" />
<meta name="" content="Nebraska, family, farm" />

<link href="GrowRight.css" rel="stylesheet" type="text/css" />

<!--[if lt IE 9]>
<script src="http://html5shim.googlecode.com/svn/trunk/html5.js">
</script>
<![endif]-->
</head>
<div id="wrapper">
<header>

	<img src="assets/GR_header.jpg" alt="Grow Right Farms" >	

</header>

<main>
<nav>

<ul>
		<li><a href="index.html">Home</a>&nbsp </li>
		<li><a href="landplan.html">Land Plan</a>&nbsp </li>
		<li><a href="forestryplan.html">Forestry Plan</a>&nbsp </li>
		<li><a href="grazingpasture.html">Grazing Pasture</a> </li><br>
		<li><a href="equipInv.html">Equipment Inventory</a>&nbsp </li>
		<li><a href="agriproducts.html">Ag Products</a>&nbsp </li>
		<li><a href="aboutUs.html">About Us</a>&nbsp </li>
		
</ul>
</nav>
<div id="div2">
<h2>GrowRight Farms Land Plan</h2>

	<aside>
			<p>GrowRight Farms Soil Map</p>
			<img src="assets/GR_land.jpg" alt="map of GrowRight Farms">
			
	</aside>

      <p>Environmental stewardship is of paramount concern to GrowRight Farms. From soil conservation to forestry management, our role in protecting our natural resources 
	  is a fundamental pillar of our operation. </p>
      <h3>Soil Conservation</h3>
      <p>Grow Right Farms has many different soil types, and consequently have different needs for upkeep and maintenance. Higher elevations of GrowRight Farms has a soil type known as 
	  Burchard Clay loam (7227), a soil of importance in the state of Nebraska</p>
	  
      <p>Some of the best soil on the farm is located in the lower elevations, and its characterized as Kennebec Silt Loam (7867). This particular soil type is graded as superior quality agricultural
	  soil by the USDA.</p>
	  
	  
	  
      <h3>Land Use</h3>
      <p>As you can see from the map on the right, there are several different land uses in effect today on GrowRight Farms. The forested area is home to a diverse ecosystem of trees, bushes, plants and 
	  wildlife. In our forestry plan, we make use of all the opportunities this area provides, to include increased timber quality, beneficial tree removal, increased forage capability, and 
	  sustainment of local wildlife</p>
      <p>Other portions of the map identify row crop and hay operations on the farm. The lighter area consists of warm season grasses, and is cut twice a year for prarie hay.
	  The rest of the property is planted with row crops, rotating between corn and beans.</p>
    
      
	  
</div>
</main>	  
	  <footer>
	
		<br>
	<ul>
		<li><a href="index.html">Home</a>&nbsp </li>
		<li><a href="landplan.html">Land Plan</a>&nbsp </li>
		<li><a href="forestryplan.html">Forestry Plan</a>&nbsp </li>
		<li><a href="grazingpasture.html">Grazing Pasture</a> </li><br>
		<li><a href="equipInv.html">Equipment Inventory</a>&nbsp </li>
		<li><a href="agriproducts.html">Ag Products</a>&nbsp </li>
		<li><a href="aboutUs.html">About Us</a>&nbsp </li>
		
	</ul>
	
	
	  </footer>

</div>
</html>
